// -----------------------------------------------------------------------------
// This file contains basic resets and normalize styles.
// -----------------------------------------------------------------------------

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
