// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

body {
  background: $color-background;
  color: $color-foreground;
}
