@use '../abstracts/variables' as *;

.button {
    background-color: $color-primary;
    color: $color-secondary;
    padding: calc(#{$spacing-unit}) calc(2 * #{$spacing-unit});
    font-family: $font-family-primary, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}