@use '../abstracts/variables' as *;

.myshkin-labs-home {
    h1 {
        font-size: 3.5rem;
        margin-bottom: .75rem;
    }

    &__subtitle {
        font-weight: 700;
        font-size: 1.2rem;
        margin-bottom: 5rem;
        color: $color-royal-blue;
        text-shadow: 1px 1px 1px rgba($color-primary, .7);
        letter-spacing: 1px;
        text-align: center;
    }

    &__hero {
        background: url('../../img/bg-notebook3.jpg') no-repeat center center;
        background-size: cover;
    }
}