@use "../abstracts/variables" as *;

.myshkin-labs-home {
  padding: 1rem;

  h1 {
    font-size: clamp(3.5rem, 10vw, 10rem);
    margin-bottom: 0.3rem;
    text-shadow: 3px 3px 4px rgba($color-primary, 0.5);
  }

  &__subtitle {
    font-weight: 700;
    font-size: clamp(1.2rem, 3vw, 2.5rem);
    margin-bottom: 6rem;
    color: $color-neon-blue;
    text-shadow: 2px 2px 3px rgba($color-neon-blue, 0.5);
    letter-spacing: 1px;
    text-align: center;

    @media (max-width: 1023px) and (orientation: landscape) {
      margin-bottom: 1rem;
    }
  }

  &__read-more {
    padding: 0.75rem 2rem;
    font-weight: 600;
    font-size: 1.25rem;
  }

  &__latest-experiment {
    font-size: clamp(2rem, 4vw, 4rem);
    line-height: 1.1;
    margin-bottom: 1.5rem;
    color: $color-primary;
    font-family: $font-family-primary;
    font-weight: 600;

    &:hover {
      cursor: pointer;
    }

    &-label {
      text-shadow: 2px 2px 3px rgba($color-primary, 0.5);
    }
  }

  &__hero {
    margin-bottom: 4rem;

    background:
      url("../../img/maya/star-maya-03-white-transparent.png") no-repeat top
        20px right 20px,
      url("../../img/maya/star-maya-02-white-transparent.png") no-repeat top
        left,
      url("../../img/maya/star-maya-01-white-transparent.png") no-repeat bottom
        120px left 20px,
      url("../../img/maya/house-white-transparent.png") no-repeat bottom right
        10px;
    background-size:
      30% auto,
      25% auto,
      15% auto,
      30% auto;

    @media (min-width: 768px) {
      background-size:
        18% auto,
        22% auto,
        12% auto,
        18% auto;
    }

    @media (max-width: 1023px) and (orientation: landscape) {
      display: block;
      background:
        url("../../img/maya/star-maya-03-white-transparent.png") no-repeat top
          10px right 20px,
        url("../../img/maya/star-maya-02-white-transparent.png") no-repeat top
          left,
        url("../../img/maya/star-maya-01-white-transparent.png") no-repeat
          bottom 20px left 20px,
        url("../../img/maya/house-white-transparent.png") no-repeat bottom 20px
          right 10px;
      background-size:
        10% auto,
        15% auto,
        10% auto,
        18% auto;
    }
  }
}
