@use '../abstracts/variables' as *;

.myshkin-labs-home {
    h1 {
        font-size: clamp(3.5rem, 10vw, 10rem);
        margin-bottom: .3rem;
        text-shadow: 1px 1px 1px rgba($color-primary, .7);
    }

    &__subtitle {
        font-weight: 700;
        font-size: clamp(1.2rem, 3vw, 2rem);
        margin-bottom: 6rem;
        color: $color-royal-blue;
        text-shadow: 1px 1px 1px rgba($color-primary, .7);
        letter-spacing: 1px;
        text-align: center;
    }

    &__hero {
        background: 
            url('../../img/hero-background-imgs/lay-odds.png') bottom right -50px no-repeat, 
            url('../../img/hero-background-imgs/sitting-on-the-top-of-the-world.png') no-repeat top left,
            url('../../img/maya/star-maya-03.png') no-repeat top 20px right 20px,
            url('../../img/maya/star-maya-02.png') no-repeat top -20px center,
            url('../../img/maya/star-maya-01.png') no-repeat bottom 120px left 20px, 
            url('../../img/bg-notebook3.jpg') repeat center center;
        background-size: 375px auto, 180px auto, 15% auto, 20% auto, 15% auto, cover;

        @media (min-width: 1024px) { 
            background-size: 500px auto, 250px auto, 10% auto, 15% auto, 10% auto, cover;
        }
    }
}