@use '../abstracts/variables' as *;

.myshkin-labs-home {
    h1 {
        font-size: clamp(3.5rem, 10vw, 10rem);
        margin-bottom: .3rem;
        text-shadow: 1px 1px 1px rgba($color-primary, .7);
    }

    &__subtitle {
        font-weight: 700;
        font-size: clamp(1.2rem, 3vw, 2rem);
        margin-bottom: 6rem;
        color: $color-royal-blue;
        text-shadow: 1px 1px 1px rgba($color-primary, .7);
        letter-spacing: 1px;
        text-align: center;
    }

    &__hero {
        background: url('../../img/hero-background-imgs/lay-odds.png') bottom right -50px no-repeat, url('../../img/hero-background-imgs/sitting-on-the-top-of-the-world.png') no-repeat top left, url('../../img/bg-notebook3.jpg') repeat center center;
        background-size: 375px auto, 180px auto, cover;
    }
}