// -----------------------------------------------------------------------------
// This file contains styles related to the default theme.
// -----------------------------------------------------------------------------
